@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// font-family: 'Roboto', sans-serif;671180

$cyan : #43c0c4; //
$orangered: #ed554e;
$smoke: #f3f3f3;


/////////////////////////////////   font  //////////////////////////////////////////


.font {

	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 18px;

		&.l {
			// Банковские гарантии 40px
			font-weight: 300;
			font-size: 40px;

				&.f-s {
					font-size: 23px;
				}

				&.f-xs {
					font-size: 20px;

					&.f-color {
						color: $orangered;
					}
				}

		}

		&.b {
			font-weight: 800;
			font-size: 40px; 
				&.f-s {
					font-size: 24px;
				}
		}

		&.m {
			//меню 
			font-weight: 600;
			font-size: 16px;

			&.f-s-b {
				font-size: 40px;
			}
		}

		&.r {
			font-size: 40px;
			font-weight: 400;

			&.f-s {
				font-size: 23px;
			}
		}



}


/////////////////////////////////////////////////////////////////////////////////

/////////////////////////////////   background  //////////////////////////////////////////

.background {

	background: $smoke;

}

//////////////////////////////////////////////////////////////////////////////////////////

/////////////////////////////////   space  //////////////////////////////////////////


.m-all {
	margin: 30px 0  45px  0;
		&.def {
			margin: 45px 0 45px 0;
		}
		&.block {
			margin:100px 0 100px 0;
		}
}

.menu-header {
	margin: 18px 0 45px 0;
}

.title-header {
    padding: 100px 0 60px 0;
}




//////////////////////////////////////////////////////////////////////////////////////

.logo {
	width:334px;
    height:57px;
    background-image:url("assets/img/logo.png");
    background-repeat: no-repeat;
}

.menu-text {
	margin: 20px;
}


ul {
	margin: 20px 0 0 45px;
	padding: 0;
	list-style-image: url("assets/img/checbox.png"); /* Путь к изображению маркера */
}

.icon-header {
    position: relative;
    top: -9px;
    left: 15px;
}


.previev {
	padding: 40px 30px 40px 30px;
}

.teacher {
	background-image:url("assets/img/banner_people.png");
    background-repeat: no-repeat;
    background-size: 70%;
    max-width: 100%;
    height: 700px;
    display:block;
    background-position: right;
}

.icon {

    width: 106px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #43c0c4;
    padding: 10px;
    border-radius: 70%;

	&.client {
		background-image:url("assets/img/icons/user-blue.png");
	}

	&.agent {
		background-image:url("assets/img/icons/agent-blue.png");
	}
}
